@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
@import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap");
* {
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    padding: 0;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    color: #202020;
    background-color: #fbfbfb;
}

.card .badge {
    font-size: 16px;
}

.card .text-secondary {
    line-height: 25px;
}

.logo-sign {
    font-size: x-large;
    font-style: italic;
    font-family: "Fontdiner Swanky", cursive;
    color: #2b3b31 !important;
}
